:root {
  --header: #cbcbcb;
  --areas-bg: #f0f0f0;
  --dark-green: #426559;
  --dark-green-0: #21322c;
  --dark-green-1: #304b42;
  --dark-green-2: #82b3a3;
  --dark-green-3: #abccc1;
  --dark-green-4: #d4e5e0;
  --light-green: #95b459;
  --light-green-0: #4a5a2c;
  --light-green-1: #708642;
  --light-green-2: #c0e3cd;
  --light-green-3: #d4e0ba;
  --light-green-4: #eaefdc;
  --blue-green: #99d2ac;
  --grey: #989fa6;
  --grey-0: #494f55;
  --grey-1: #6e7780;
  --grey-2: #c1c5c9;
  --grey-3: #d5d8db;
  --grey-4: #eaebed;
  --sand: #c4b894;
  --sand-0: #6e623f;
  --sand-1: #a6945e;
  --sand-2: #dbd4be;
  --sand-3: #e7e2d4;
  --sand-4: #f3f0e9;
  --light-pink: #ebdfdf;
  --light-pink-0: #1c1010;
  --light-pink-1: #46292a;
  --light-pink-2: #8e5254;
  --light-pink-3: #be9496;
  --light-pink-4: #d9c0c1;


}

.App {
  text-align: center;
  background: var(--light-green-4);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark-green);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.explanation-area-container {
  background: var(--light-green);
  border-radius: 20px;
  float: none;
  margin: 2% auto;
  padding: 1em;
  position: relative;
  width: 80%;
}

.information-box-container {
  float: none;
  margin: 50% auto;
  padding: 3em;
  position: relative;
  width: 2%;
}

.uploader-area-container {
  background: var(--light-green);
  border-radius: 20px;
  float: none;
  margin: 2% auto;
  padding: 1em;
  position: relative;
  width: 80%;
}

.parameters-area-container {
  background: var(--light-green);
  border-radius: 20px;
  float: none;
  margin: 2% auto;
  padding: 1em;
  position: relative;
  width: 80%;
}

.score-layout {
  background: var(--header);
  border-radius: 25px;
  float: none;
  margin: 2% auto;
  padding: 0;
  position: relative;
  width: 25%;
}

.results-area-container {
  background-color: var(--purple);
  border-radius: 25px;
  float: none;
  margin: 2% auto;
  padding: 1em;
  position: relative;
  width: 70%;
}

.characters-area-container {
  background: var(--areas-bg);
  border-radius: 25px;
  float: none;
  margin: 2% auto;
  padding: 1em;
  position: relative;
  width: 70%;
}

.spinner {
  padding: 1em;
}

.center-text {
  margin: auto;
}

.counter-balance {
  margin: 64px 0px 0px 64px;
}

.left-align-text {
  text-align: left;
}

.margin-auto {
  margin: auto;
}

.padding-20px {
  padding: 20px;
}

.padding-20px-horizontal {
  padding: 0px 20px;
}

.padding-40px {
  padding: 40px;
}

.padding-40px-horizontal-20px-vertical {
  padding: 20px 40px;
}

.width-80percent {
  width: 80%;
}

.width-70percent {
  width: 70%;
}

.width-60percent {
  width: 60%;
}

.max-height-fit-content {
  max-height: fit-content;
}

.max-height-200px {
  max-height: 250px;
}

.correct-text-display {
  white-space: break-spaces;
}

.highlighted-valid {
  background-color: #FFFF00;
}

.highlighted-invalid {
  background-color: #ffbb00;
}


.bubble {
  border-radius: 10px;
  float: none;
  margin: auto;
  padding: 10px;
  position: relative;
  width: 90%;
}


.info-bubble-general {
  background: var(--light-pink-4);
}

.info-bubble-upload {
  background: var(--sand-2);
}

.info-bubble-results {
  background: var(--sand-2);
}

.info-bubble-parameters {
  background: var(--sand);
}

.info-bubble-characters {
  background: var(--sand-2);
}

.info-bubble-disclaimer {
  background: var(--sand);
}